.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  padding-bottom: 2rem;
  padding: 3rem;
}

.search h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #999;
}

form {
  width: 90%;
}

form div {
  width: 100%;
  padding: 1rem;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

form input {
  font-size: 1.8rem;
  background-color: inherit;
  border: none;
  font-style: italic;
  width: 90%;
}

.icon {
  font-size: 1.6rem;
}

.cities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-name {
  font-size: 1.8rem;
  color: #444;
}

.degree {
  font-size: 1.6rem;
  font-weight: 300;
  color: #666;
}
