.content {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  gap: 1rem;
}

.icon {
  font-size: 3.6rem;
  color: #aaa;
}

.text {
  color: #444;
  font-size: 1.6rem;
  font-weight: 500;
}

.numbers {
  display: flex;
  flex-direction: row;
}

.temperatures {
  display: flex;
  color: #999;
  font-size: 0.8rem;
  font-weight: 500;
}
